
.signup-container {
  padding: 20px;
  background-color: #f8f9fa;
}

.signup-container h1{
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
  margin-left:250px;
}


.signup-form {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-right:240px;
}

.form-group {
  margin-bottom: 20px;
  
}

.signup-form h1 {
  margin-bottom: 50px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #050e44;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #050e44;
}
